server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:fluxgate_test;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: none
  application:
    name: fluxgate

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
